.data-table-wrapper {
  overflow-x: scroll;
}

.data-table {
    width: 100%;
}

.data-table-cell {
    width: 1%;
    white-space: nowrap;
}

table tr td {
    text-align: center;
    white-space: nowrap;
}